Config { font = "xft:JetBrains Mono:weight=bold:pixelsize=12:antialias=true:hinting=true"
       , additionalFonts = ["xft:FiraMono Nerd Font:pixelsize=14:antialias=true:hinting=true"]
       , borderColor = "#1d1f21"
       , border = TopB
       , bgColor = "#1d1f21"
       , fgColor = "#c5c8c6"
       , alpha = 255
       , position = Top
       , textOffset = -1
       , iconOffset = -1
       , lowerOnStart = True
       , pickBroadest = False
       , persistent = False
       , hideOnStart = False
       , iconRoot = "."
       , allDesktops = True
       , overrideRedirect = True
       , commands = [ Run StdinReader
                    , Run BatteryP ["BAT1"]
                        ["-t", "<acstatus>"
                        , "--"
                        , "-O", "<fc=#c5c8c6><fn=1> </fn></fc><left>%"
                        , "-o", "<fc=#c5c8c6><fn=1></fn></fc> <left>%"
                        , "-i", "<fc=#c5c8c6><fn=1> </fn></fc><left>%"
                        ] 10
                    , Run Wireless "wlp3s0" ["-t", "<fc=#c5c8c6><fn=1> </fn></fc> <ssid>"] 60
                    , Run Date "%a %b %_d %I:%M %p" "date" 10
                    ]
       , sepChar = "%"
       , alignSep = "}{"
       , template = " <fc=#ffffff><fn=1> </fn></fc> %StdinReader%  }\
                    \{ %battery% <fc=#666666>|</fc>\
                    \ %wlp3s0wi% <fc=#666666>|</fc>\
                    \ <fc=#cc6666>%date%</fc> "
       }
