Config { font = "xft:JetBrains Mono:weight=bold:pixelsize=12:antialias=true:hinting=true"
       , additionalFonts = [ "xft:FiraMono Nerd Font:pixelsize=14:antialias=true:hinting=true" ]
       , borderColor = "#000000"
       , border = TopB
       , bgColor = "#000000"
       , fgColor = "#ffffff"
       , alpha = 255
       , position = Top
       , textOffset = -1
       , iconOffset = -1
       , lowerOnStart = True
       , pickBroadest = False
       , persistent = False
       , hideOnStart = False
       , iconRoot = "."
       , allDesktops = True
       , overrideRedirect = True
       , commands = [ Run StdinReader
                    , Run Wireless "wlp3s0" [ "-t", "<fn=1>直 </fn><ssid>" ] 10
                    , Run Date "%a %b %d - %I:%M %p" "date" 10
                    ]
       , sepChar = "%"
       , alignSep = "}{"
       , template = "<fc=#ffffff><fn=1> </fn></fc> \
                    \%StdinReader% }\
                    \{%wlp3s0wi% |\
                    \ %date%"
       }
